@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@400;800&display=swap');



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Recursive', sans-serif;
  font-size: 14px;
}

.jumbotron{
  background: #000000;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, rgba(67, 67, 67, 0.29), rgba(0, 0, 0, 0.99)), url(./img/pexels.jpeg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  background-position: center;
  background-attachment: fixed;
}

h1, h2, h3, h4  {
  padding: 1rem 0;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 800;
}

h1 {
  font-size: 1.5rem;
}

@media screen and (min-width:768px) {
 

  h1 {
    font-size: 1.8rem;
  }
  
  h2 {
    font-size: 1.4rem;
  }
}


@media screen and (min-width: 992px) {

  h1 {
    font-size: 2rem;
  }
  
  h2 {
    font-size: 1.6rem;
  }
 
}